body {
    background-color: #1C1C1C !important;

}

div {
    color: white !important;
    background-color:#1C1C1C !important;
}

a {color: white !important}

.gNO89b {background-color: #1C1C1C	!important;
        color: white !important;}

.RNmpXc {background-color: #1C1C1C	!important;
        color: white !important}

button {color: white !important;}